@import url(https://fonts.googleapis.com/css?family=Montserrat);
body
{
	font-family: 'Montserrat',sans-serif;
}
@-webkit-keyframes pulse
{
	0%,to
	{
		filter: alpha(opacity=40);
		ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		opacity: .4;
		top: 0;
	}
	50%
	{
		filter: none;
		ms-filter: none;
		opacity: 1;
		top: -10px;
		webkit-filter: none;
	}
}
@keyframes pulse
{
	0%,to
	{
		filter: alpha(opacity=40);
		ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		opacity: .4;
		top: 0;
	}
	50%
	{
		filter: none;
		ms-filter: none;
		opacity: 1;
		top: -10px;
		webkit-filter: none;
	}
}
#particles-js
{
	background: #1a222c;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	min-height: 100vh;
	vertical-align: bottom;
	width: 100vw;
}
#particles-js .particles-js-canvas-el
{
	height: 100vh!important;
	width: 100vw!important;
}
.content
{
	color: #fff;
	left: 50%;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%,-50%);
	webkit-transform: translate(-50%,-50%);
	z-index: 1;
}
.content .site-title
{
	display: block;
	font-size: 50px;
	line-height: 1;
}
@media only screen and (min-width:768px)
{
	.content .site-title
	{
		font-size: 100px;
		margin: 0;
	}
}
.content .site-description
{
	display: block;
	font-size: 20px;
	line-height: 1;
	margin: 5px 0 10px;
}
@media only screen and (min-width:768px)
{
	.content .site-description
	{
		font-size: 40px;
	}
}
.content .link
{
	color: #fff;
	display: inline-flex;
	font-size: 15px;
	justify-content: space-between;
	margin: 10px;
	text-decoration: none;
}
@media only screen and (min-width:768px)
{
	.content .link
	{
		font-size: 20px;
	}
}
.icons-header
{
	display: flex;
	justify-content: center;
}
.icons-header .icon
{
	border: 2px solid #fff;
	border-radius: 50%;
	color: #fff;
	font-size: 20px;
	height: 20px;
	margin: 2px;
	padding: 10px;
	text-align: center;
	transition: all .7s;
	width: 20px;
}
.icons-header .icon:active,.icons-header .icon:hover
{
	background: #fff;
	color: #1a222c;
}
@media only screen and (min-width:768px)
{
	.icons-header .icon
	{
		font-size: 35px;
		height: 35px;
		width: 35px;
	}
}
.down,.icons-header,.user
{
	text-align: center;
}
.down
{
	bottom: 25px;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 30px;
	margin: 0 auto;
	position: absolute;
	width: 100%;
}
.down .icon
{
	animation: pulse 1.3s infinite;
	fill: #fff;
	height: 100px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	transform-style: preserve-3d;
	webkit-animation: pulse 1.3s infinite;
	webkit-transform: translate(-50%,-50%);
	webkit-transform-style: preserve-3d;
	width: 100px;
}
.down .icon:active,.down .icon:hover,.footer a:active,.footer a:hover
{
	color: #4b5664;
}
.user
{
	font-size: 60px;
	margin: 20px auto;
}
.user p
{
	font-size: 16px;
}
@media only screen and (min-width:768px)
{
	.user
	{
		font-size: 75px;
	}
}
.user-details
{
	font-size: 16px;
	margin: 10px auto;
	text-align: center;
}
.user-projects
{
	margin: 40px auto;
}
.user-projects img
{
	border-radius: 5px;
	height: auto;
	max-width: 100%;
}
.user-projects h5,body
{
	margin: 0;
}
.user-projects li
{
	color: #1a222c;
	font-size: 1.1rem;
}
.user-projects p
{
	margin-right: 5px;
}
@media only screen and (min-width:768px)
{
	.images
	{
		float: right;
	}
}
.project-link
{
	background-color: transparent;
	border: 1px solid #1a222c;
	border-radius: 10px;
	color: #1a222c;
	cursor: pointer;
	display: block;
	margin: 10px 0;
	outline: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	transition: color .3s ease-out,background-color .3s ease-out,border-color .3s ease-out;
	width: 100px;
}
.project-link:active,.project-link:hover
{
	background-color: #54516a;
	border-color: #54516a;
	color: #fff;
	transition: color .3s ease-in,background-color .3s ease-in,border-color .3s ease-in;
}
.footer
{
	background: #1a222c;
	color: #fff;
	/*margin-top: 100px;*/
	padding: 10px 0;
	text-align: center;
}
.footer .love
{
	color: red;
}
.footer a
{
	color: #fff;
	margin: 0;
	text-decoration: none;
}